.brand-logo {
	margin-left: 10px;
	font-family: "Raleway";
}

#nav-header {
	margin-left: 70px;
	font-family: "Raleway" !important;
	font-size: 40px !important;
	margin-top: 10px;
	position: absolute;
}

.body {
	width: 90%;
	margin: 0 auto;
	margin-top: 20px;
}

#analytics {
	display: none;
}

#incoming {
	margin-top: 20px;
}

#resolved {
	display: none;
}

#menu {
	margin-top: 20px;
	display: none;
}

h1, h2 {
	font-family: "Raleway";
}

h2 {
	font-size: 20px !important;
}

i {
	vertical-align: bottom !important;
}

th {
	text-align: center !important;
}

#leaderboard {
	width: 90%;
}

#date {
	width: 150px !important;
}

.total-earnings, .chart {
	width: 90%;
	border: 1px solid black;
	border-radius: 5px;
	padding-left: 15px;
}

.chart {
	margin-top: 20px;
	width: 90%;
}

.input-field {
	width: 500px;
}

.biz-details {
	width: 300px;
	border: 1px solid black;
	border-radius: 5px;
	margin-top: 0;
	margin-bottom: 20px;
	padding-left: 10px;
}

#edit-info {
	margin-left: 67%;
}

input {
	width: 500px !important;
}

.card-title {
	font-weight: bold !important;
	font-family: "Raleway";
	text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;

}

#edit-butan {
	margin-left: 130px !important;
	font-size: 15px !important;
}

#edit-butan:hover {
	color: #2979ff ;
}




